




# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
# Executables
# Fortran module files
# Precompiled Headers
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.so
/*_gtest
